*{

  padding:0;
  margin:0;
  box-sizing:content-box;
}

.App{

  display:flex;
  justify-content:center;
}
.itemList{
display:flex;
width:50%;
flex-direction:column;
  border:1px solid black;
  margin:1em;
}

.tree{
width:50%;
  display:flex;
flex-direction:column;
  border:1px solid black;
  margin:1em;
}